% The file must be located in /etc/systemd/system/
% Make the file and execute $sudo systemctl enable mining.service to enable the file



[Unit]
Description=mining.service


[Service]
WorkingDirectory=/home/chris/tools/
ExecStart=/home/chris/tools/mining.sh

[Install]
WantedBy=multi-user.target
